# ---------- POSTGRES ----------
FINANCE_DB_USER=testUser
FINANCE_DB_PASSWORD=testPassword

# ---------- PORTS ----------
FINANCE_SERVICE_PORT=8080
FINANCE_DB_PORT=5432

# ---------- URL  -----------
FINANCE_DB_URL=jdbc:postgresql://postgres-finance:5432/finance_db